<div class="form container">
  <div class="form-wrapper">
    <h2>Sign Up</h2>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>

    <!-- <form class="signup-form"(ngSubmit)="signupSubmit()">
      <label for="full-name-input"> Full Name </label>
      <br>
      <input id="full-name-input" type="text" placeholder="Full Name"
      name="fullName" [(ngModel)]="newUser.signupFullName">
      <br>

      <label for="username-input"> Username </label>
      <br>
      <input id="username-input" type="text" name="username"
      placeholder="username" [(ngModel)]="newUser.signupUsername">
      <br>

      <label for="password-input"> Password </label>
      <br>
      <input id="password" type="password" placeholder=""
      name="userPassword" [(ngModel)]="newUser.signupPassword">
      <br>

      <button> Sign Up </button>
    </form>
  </div> -->
  <div class="fom-wrapper">
    <h2> Log In </h2>
    <p class="error" *ngIf="loginError">
      {{ loginError }}
    </p>

    <form class="signup-form" (ngSubmit)="loginSubmit()">
      <label for="log-username-input"> Username </label>
      <br>
      <input id="log-username-input" type="text" placeholder="Flash"
      name="username" [(ngModel)]="loginUser.loginUsername">
      <br>

      <label for="log-password-input"> Password </label>
      <br>
      <input id="log-password-input" type="password" placeholder=""
      name="userPassword" [(ngModel)]="loginUser.loginPassword">
      <br>
      <br>
      <button> Log In </button>
      <br>
      <br>
      <a routerLink="/signup"> Create Your Accounst </a>
    </form>
  </div>
</div>
