<section class="available-on">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="available-title">
          <h2>Available Soon</h2>
          <p>
            We are allready expanding, wait for the next big thing.
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">

          <a href="#">
            <div class="col-md-4 no-padding">
              <div class="available-on-item">
                <i class="fa fa-apple"></i>
                <div class="available-on-inner">
                  <h2>iOS</h2>
                </div>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="col-md-4 no-padding">
              <div class="available-on-item">
                <i class="fa fa-android"></i>
                <div class="available-on-inner">
                  <h2>ANDROID</h2>
                </div>
              </div>
            </div>
          </a>

          <a href="#">
            <div class="col-md-4 no-padding">
              <div class="available-on-item">
                <i class="fa fa-windows"></i>
                <div class="available-on-inner">
                  <h2>WINDOWS</h2>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="copyright">
          <p>Copyright &copy; 2017 <a href="#"> - Arturo Filio</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="scroll-top">
          <a href="#HOME" id="scroll-to-top"><i class="fa fa-angle-up"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
