nav {
  background-color: #411D39;
  color: white;
}

nav a {
  color: white;
}
.username {
  padding-top: 5px;
  margin-left: 30px;
}
.name {
  margin-left: 15px;
  margin-top: 16px;
}
.link a {
  color: lightgrey;
}
.link a:hover {
  color: white;
}
.link a:visited {
  color: white;
}
