<div class="item-list" *ngIf="userInfo">
  <p> Hi {{ userInfo.fullName }}</p>
</div>

<h2> Products </h2>
<div *ngIf="userInfo">
  <button (click)="showsForm()">
    Add Item
  </button>


  <app-item-form *ngIf="isFormOn"
  (newItemNotifier)="handleNewItem($event)"></app-item-form>
</div>

<ul>
  <li *ngFor="let oneItem of items">
    <h3> {{ oneItem.name }}</h3>
    <span> From {{ oneItem.brand }}</span>

    <a [routerLink]="['/items', oneItem._id]">
      See Details
    </a>

    <img [src]="imageDomain + oneItem.image">
  </li>
</ul>
