img {
  height: 200px;
  width: 200px;
  margin: 30px 0;
  vertical-align: bottom;
}
.list-card {
  border: 1px solid lightgrey;
  list-style: none;
  height: 400px;
  text-align: center;
}
.see-details {
  margin-top: 20px;
}
