<div class="form-wrapper">
  <p class="error" *ngIf="loginError">
    {{ loginError }}
  </p>

  <form class="signup-form" (ngSubmit)="loginSubmit()">
    <h2> Log In </h2>
    <br>
    <label for="log-username-input"> Username </label>
    <br>
    <input id="log-username-input" type="text" placeholder="Flash"
    name="username" [(ngModel)]="loginUser.loginUsername">
    <br>

    <label for="log-password-input"> Password </label>
    <br>
    <input id="log-password-input" type="password" placeholder=""
    name="userPassword" [(ngModel)]="loginUser.loginPassword">
    <br>
    <br>
    <button> Log In </button>
    <br>
    <br>
    <a routerLink="/signup"> Create Your Account </a>
  </form>
</div>
