<div class="details container">
  <div class="row">

    <div class="img col-md-6 col-sm-12">
      <img [src]="imageDomain + itemInfo.image" alt="">
    </div>

    <div class="info col-md-6 col-sm-12">
      <h2> {{ itemInfo.name }}</h2>
      <p> Brand or Made: {{ itemInfo.brand }} </p>
      <p> ${{ itemInfo.value }}.00</p>

      <!-- class="auction-button" (click)="itemThang.startAuction()" --> <!-- this is what the button should do -->
      <button class="auction-button" (click)="informAuction()">
        Start Auction
      </button>
      <h3>Description: </h3>
      <button (click)="deleteClick()">
        Delete Item
      </button>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 *ngIf="itemInfo.status" class="auction-title" > Auction In Process </h1>
    </div>

    <div *ngIf="itemInfo.status" class="counter-section" >
      <h2>Auction Finishes At: <span>{{ itemInfo.finalDate | date:'medium' }}</span></h2>
      <h2>Current Bid Price: ${{ itemInfo.auctionVal}}</h2>
      <h2>Bids:{{ itemThang.counter }}</h2>
      <form (ngSubmit)="informBid()">
        <input [(ngModel)]="bidValue" type="text" name="bidVal">
        <button> Make A Bid </button>
      </form>
    </div>
  </div>
</div>
