<p class="error" *ngIf="errorMessage">
  {{ errorMessage }}
</p>


  <div class="error" *ngIf="errorMessage">
    <h3> {{ errorMessage }}</h3>
  </div>
<br>
    <!-- <div class="container">
      <div class="row">

        <div class="add-items-form col-md-3">
          <button (click)="showsForm()">
          Add Item
          </button>


          <app-item-form *ngIf="isFormOn"
          (newItemNotifier)="handleNewItem($event)"></app-item-form>
        </div>

      </div>
    </div> -->


    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2> Your Inventory </h2>
        </div>

      </div>
      <div class="row">
        <div class="add-items-form col-md-12">
          <button class="add-button" (click)="showsForm()">
          Add Item
          </button>


          <app-item-form *ngIf="isFormOn"
          (newItemNotifier)="handleNewItem($event)"></app-item-form>
        </div>

        <ul *ngIf="!isFormOn">
          <li class="col-md-3 col-sm-3 item-card" *ngFor="let oneItem of myItems">
            <img [src]="imageDomain + oneItem.image" alt="">
            <h3> {{ oneItem.name}}</h3>
            <p> From {{ oneItem.brand}}</p>
            <a [routerLink]="['/items', oneItem._id]">
              See Details
            </a>
            <p *ngIf="itemThang.auctionStatus"> Auction In Process </p>
          </li>
        </ul>

      </div>

      <div class="row">

        <div class="">
          <ul>
            <li class="item-card col-md-3 col-sm-3" *ngFor="let onePrice of prices">
              <h5 *ngIf="onePrice"> Walmart's Recomendations </h5>
              <img src="{{ onePrice.mediumImage}}" alt="">
              <p>Name: {{ onePrice.name }}</p>
              <p>Price: ${{ onePrice.salePrice }}</p>
            </li>
          </ul>
        </div>
      </div>

    </div>
    <app-footer></app-footer>
